/Common/Ftd.Rpa.BaseModel/obj
/Common/Ftd.Rpa.BaseModel/bin
/Common/Ftd.Rpa.HttpContext/obj
/Common/Ftd.Rpa.HttpContext/bin
/Common/Ftd.Rpa.Localization/obj
/Common/Ftd.Rpa.Localization/bin
/Ftd.Rpa.Management/obj
/Ftd.Rpa.Management/bin
