/Common/Ftd.Rpa.BaseModel/obj
/Common/Ftd.Rpa.BaseModel/bin
/Common/Ftd.Rpa.HttpContext/obj
/Common/Ftd.Rpa.HttpContext/bin
/Common/Ftd.Rpa.Localization/obj
/Common/Ftd.Rpa.Localization/bin
/Ftd.Rpa.Management/obj
/Ftd.Rpa.Management/bin
/Services/Ftd.Rpa.ApiGateway/obj
/Services/Ftd.Rpa.ApiGateway/bin/Debug/netcoreapp3.1
/.vs/Ftd.Rpa/v16
